.Heder {
  text-align: center;
  padding: 30px;
  border-color: #b6c7d6;
  border-style: solid;
  border-radius: 20px;
  box-shadow: inset;
  width: 350px;
  margin: auto;
  margin-top: 40px;
  /* background-color: aqua; */
}
